* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.header {
  background-color: #2a5846;
  height: 90vh;
}

.nav {
  display: flex;
  justify-content: space-around;
  color: #fff;
  padding-top: 20px;
  align-items: center;
  background-color: #2a5846;
  padding-bottom: 20px;
}

.nav li {
  cursor: pointer;
}
.menu {
  list-style-type: none;
  display: flex;
}

.menu-item {
  margin: 0px 10px;
}

.header-section {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.header-section-text {
  width: 35%;
  margin-top: 60px;
}
.header-section-text p {
  color: #909f99;
  font-size: 25px;
  margin-top: 20px;
}
.header-section-text h1 {
  color: #fff;
  font-size: 80px;
}
.header-section-img {
  width: 35%;
}

.nav p {
  font-size: 40px;
}

.explore-button {
  background-color: #0c9a61;
  border: none;
  padding: 15px 40px;
  margin-top: 30px;
  color: #fff;
  font-size: 17px;
  border-radius: 10px;
  cursor: pointer;
}

.plateimg {
  width: 100%;
}
.user-icon {
  width: 30px;
  height: 30px;
  filter: invert(100%) brightness(100%);
  cursor: pointer;
}

.user-icon-logged {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
}

.user-data {
  display: flex;
}

.user-data p {
  font-size: 20px;
  margin-left: 20px;
}

.burger-menu-icon {
  width: 30px;
  filter: invert(100%) brightness(100%);
}

.burger-menu-sidebar {
  height: 100vh;
  width: 50%;
  background-color: #5b8a76;
  position: absolute;
  left: 0;
  position: fixed;
  z-index: 1;
}

.burger-menu-icon-active {
  width: 30px;
  filter: invert(100%) brightness(100%);
  position: absolute;
  left: 47px;
  top: 22px;
  position: fixed;
  z-index: 1;
}

.burger-menu-content {
  z-index: 1;
  position: fixed;
  left: 47px;
  top: 60px;
  display: flex;
  flex-direction: column;
}

.burger-menu-links {
  font-size: 20px;
  padding: 10px 0px;
}
@media only screen and (max-width: 1500px) {
  .header-section-text h1 {
    font-size: 55px;
  }
  .header-section {
    margin-top: 0px;
  }
  .plateimg {
    margin-top: 50px;
    width: 110%;
  }
  .user-icon {
    width: 20px;
    height: 20px;
  }
}

@media all and (max-width: 700px) {
  .header-section {
    flex-direction: column;
  }
  .header-section-text {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-section-text h1 {
    font-size: 45px;
    text-align: center;
  }
  .header-section-text p {
    font-size: 17px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .header-section-img {
    width: 80%;
    margin: 0 auto;
  }
  .plateimg {
    width: 100%;
  }
}
