.popular-section {
  width: 85%;
  margin: 0 auto;
  margin-top: 50px;
}

.popular-heading {
  font-size: 50px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.see-all {
  color: #28a672;
  font-weight: 600;
  margin-top: 20px;
  font-size: 22px;
}

.random-box {
  display: flex;
  margin-top: 50px;
  border-radius: 10px;
  padding: 20px;
  height: 60vh;
  background-size: cover;
  background-position: center;
  align-items: center;
  position: relative;
}

.meal-img {
  width: 350px;
  height: 250px;
  border-radius: 10px;
}

.meal-description p {
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-color: #0c9a61 #2a5846;
}

.recipe-info {
  background-color: #fff;
  width: 33%;
  height: 85%;
  padding: 15px 15px;
}

.recipe-border {
  border: 2px solid #efeae7;
  height: 98%;
  position: relative;
}

.recipe-heading {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-top: 30px;
  line-height: 1.4;
}

.recipe-line {
  width: 30%;
  height: 5px;
  background-color: #71bf3e;
  margin: 0 auto;
  margin-top: 30px;
}

.recipe-buttons {
  position: absolute;
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.recipe-buttons button {
  background-color: #71bf3e;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: #fff;
  cursor: pointer;
}

.recipe-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ecf0f1;
  width: 60%;
  z-index: 1;
  min-height: 500px;
  border-radius: 10px;
  max-height: 97vh;
}

.popup-video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ecf0f1;
  width: 50%;
  z-index: 1;
  min-height: 500px;
  border-radius: 10px;
  max-height: 97vh;
}

.popup-heading {
  text-align: center;
  color: #71bf3e;
  width: 40%;
}

.popup-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 30px;
}

.close-popup {
  background-color: #71bf3e;
  border-radius: 50%;
  text-align: center;
  padding: 6px 13px;
  position: absolute;
  left: 94%;
  top: -20%;
  border: none;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}

.popup-text {
  width: 85%;
  margin: 0 auto;
  margin-top: 30px;
  letter-spacing: 1.1px;
  font-size: 20px;
  padding-bottom: 20px;
}

.popup-video-popular {
  width: 640px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.favorite-icon-popular {
  width: 50px;
  filter: invert(100%) brightness(100%);
}

.form {
  position: absolute;
  right: 20px;
  top: 20px;
}

.form-button-popular {
  border: none;
  background-color: #000;
  border-radius: 50%;
  padding: 5px;
}
@media only screen and (min-width: 1500px) {
  .recipe-info {
    width: 28%;
  }

  .recipe-buttons button {
    padding: 15px 25px;
  }

  .recipe-description {
    margin-top: 25px;
    font-size: 20px;
    -webkit-line-clamp: 5;
  }
}

@media all and (max-width: 700px) {
  .popular-section {
    width: 100%;
    margin-top: 30px;
    text-align: center;
  }
  .popular-heading {
    font-size: 40px;
  }
  .recipe-info {
    background-color: #fff;
    width: 90%;
    height: 85%;
    padding: 0px;
    position: absolute;
    bottom: -120px;
    border-radius: 10px;
  }
  .recipe-description {
    -webkit-line-clamp: 3;
  }

  .recipe-buttons {
    flex-direction: column;
    width: 50%;
  }
  .random-box {
    border-radius: 0px;
  }
  .recipe-border {
    border-radius: 10px;
  }
  .recipe-buttons button {
    margin-bottom: 10px;
  }
  .form-button-popular {
    border: none;
    background-color: #000;
    border-radius: 50%;
    padding: 5px;
    top: 0px;
    right: 0px;
  }
  .popup {
    width: 90%;
  }
  .popup-heading {
    width: 100%;
  }
  .popup-text {
    width: 90%;
    text-align: left;
    font-size: 18px;
  }
  .close-popup {
    padding: 3px 10px;
    left: 90%;
    top: -23%;
  }
}
