.recipe-box {
  background-color: #674b15;
  min-height: 45vh;
  margin-right: 70px;
  border-radius: 15px;
  position: relative;
  color: #fff;
  margin-bottom: 30px;
}

.img-size {
  width: 90%;
  height: 140px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
  border-radius: 15px;
  margin-top: 20px;
}

.recipe-box-buttons button {
  background-color: #53487b;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

.recipe-box-buttons {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
}

.heading {
  display: flex;
  align-items: center;
  width: 320px;
  justify-content: space-around;
  text-wrap: wrap;
  margin-top: 10px;
}

.recipe-origin {
  text-align: left;
  margin-top: 10px;
  margin-left: 17px;
}
@media only screen and (min-width: 1500px) {
  .recipe-box {
    min-height: 34vh;
  }
}
